<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form id="edit-post-form" class="post-form">
    
            <input name="post-title" type="text" value="{{post.title}}" />
        
    
            <input name="body_text" type="text" value="{{post.body_text}}"/>
        
    
            {{!-- {{format_date post.created_at}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a> --}}
        <div class="edit-form-btn">
            <button type="submit"><i class="far fa-save"></i></button>
            <button type="button" class="delete-post-btn"><i class="far fa-trash-alt"></i></button>
        </div>
    </form>
</article>

{{!-- <form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>

{{> comments post.comments}} --}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
{{!-- <script src="/javascript/comment.js"></script> --}}